html {
  font-size: 10px;
}

body {
  font-family: monospace;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 4rem;
  background-color: #4E6172;
  color: #fff;
}

header {
  text-align: center;
  border-bottom: 1px dashed #fff;
}

footer {
  border-top: 1px solid #fff;
  padding-top: 1rem;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  margin: 0 auto;
  max-width: 60rem;
}
