html {
  font-size: 10px;
}

body {
  font-family: monospace;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 4rem;
}

header {
  text-align: center;
}

footer {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  font-size: 1rem;
}

h1 {
  color: turquoise;
}

.content {
  margin: 0 auto;
  max-width: 60rem;
}

h2 {
  color: gray;
}
